.clients-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    @include centeredflex($horisontal: center);
    width: calc((100% - 30px) / 2);

    &--margin:nth-child(odd) {
      margin-right: 30px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: color, border;
    transition-duration: var(--primary-trans-duration);
    transition-timing-function: var(--primary-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
      border-radius: 4p;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
    width: 106px;
    height: 60px;
    fill: var(--primary-sm-icon-fill);
    @include trans(fill);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
      fill: currentColor;
    }
  }
}
