.features-list {
  width: 100%;

  @media screen and (max-width: 767px) {
    &__item--margin:not(:last-child) {
      margin-bottom: 30px;
    }

    &__icon-bg--margin {
      margin-bottom: 30px;
    }
  }

  @include tab {
    display: flex;
    flex-wrap: wrap;

    &__item {
      max-width: 100%;
      width: calc((100% - 60px) / 2);
    }

    &__item--margin:nth-child(odd) {
      margin-right: 30px;
    }

    &__item--margin:not(:last-child) {
      margin-bottom: 30px;
    }

    &__icon-bg--margin {
      margin-bottom: 30px;
    }

    &__icon {
      width: 70px;
      height: 70px;
    }
  }

  &__icon-bg {
    width: 100%;
    height: auto;
    padding: 25px 0;
    text-align: center;
    background-color: var(--third-bgc);
  }

  @include desk {
    flex-wrap: nowrap;
    &__item--margin:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-list__subject {
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__desc {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
