.portfolio-list {
  width: 100%;
  @media screen and (max-width: 767px) {
    &__item:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc((100% - 30px) / 2);
    }

    &__item:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include desk {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: calc((100% - 60px) / 3);
    }

    &__item:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &__item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    &__link {
      display: block;
      @include trans(box-shadow);

      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }

      &:hover .portfolio-card__overlay {
        transform: translateY(-100%);
      }
    }
  }
}

.portfolio-card {
  position: relative;
  overflow: hidden;

  &__overlay {
    @include centeredflex();
    position: absolute;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    background-color: rgba(33, 150, 243, 0.9);
    @include trans(transform);

    &--text {
      font-size: 18px;
      line-height: 1.56;
      color: var(--third-text-color);
    }
  }
}

.portfolio-label {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 16px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color);
  }
}
