.team-section-list {
  margin-top: 50px;
}

.team-section-list__item {
  width: 100%;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &--margin:not(:last-child) {
    margin-right: 30px;
  }
}

.team-cards--wrap {
  text-align: center;
  padding-top: 30px;
}

.team-card {
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--primary-letter-spacing);
    &--margin {
      margin-bottom: 10px;
    }
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;

  &___item--margin:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @include centeredflex($horisontal: center);
    width: 44px;
    height: 44px;
    background-color: var(--primary-bgc);
    border-radius: 50%;
    @include trans(background-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__sm-icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-sm-icon-fill);
    @include trans(fill);

    .socials__link:focus & {
      fill: #ffffff;
    }
    .socials__link:hover & {
      fill: #fff;
    }
  }
}

.socials__item--margin:not(:last-child) {
  margin-right: 10px;
}
