:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --btn-bgc-color: #2196f3;
  --primary-font: 'Roboto', sans-serif;
  --primary-bgc: #fff;
  --secondary-bgc: #2f303a;
  --third-bgc: #f5f4fa;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --primary-sm-icon-fill: #afb1b8;
  --primary-trans-duration: 250ms;
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1600px;
