/* :root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --btn-bgc-color: #2196f3;
  --primary-font: 'Roboto', sans-serif;
  --primary-bgc: #fff;
  --secondary-bgc: #2f303a;
  --third-bgc: #f5f4fa;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --primary-sm-icon-fill: #afb1b8;
  --primary-trans-duration: 250ms;
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-size: var(--primary-font-size);
  letter-spacing: var(--primary-letter-spacing);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

/* -----------Header----------- */
/* .header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
} */

/* .nav {
  display: flex;
  align-items: center;
} */

/* .nav__logo {
  color: var(--primary-text-color);
} */
/* 
.nav-list {
  display: flex;
  margin-left: 93px;
} */

/* .nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__current {
  color: var(--accent-color);
}

.nav-list__current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  margin-top: 20px;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* .header-contacts-list {
  display: flex;
  margin-left: auto;
} */
/* 
.header-contacts-list__item--margin:not(:first-child) {
  margin-left: 50px;
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
} */

/* -----------index.html------------ */

/* -----------index.html/hero----------- */

/* .sec-hero {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
  color: var(--third-text-color);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
} */

/* .btn {
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--btn-bgc-color);
  color: var(--third-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
  cursor: pointer;
} */

/* ---------- index.html/features ---------- */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .features-list__item {
  width: calc((100% - 90px) / 4);
}

.features-list__item--margin:not(:last-child) {
  margin-right: 30px;
}
/* 
.feature-list__icon-bg {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa; 
}  */

/* .feature-list__icon-bg--margin {
  margin-bottom: 30px;
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */
.features-list__subject {
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__desc {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ---------- index.html/Activities ----------*/
.section--activity-padding {
  padding-top: 0;
}

.container-activity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.act-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.act-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.act-list__item--margin {
  margin-left: 30px;
}

.act-list__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.act-list__label {
  font-weight: 700;
  line-height: 1.14;
  color: var(--third-text-color);
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
}

/* ---------- index.html/Team ----------*/

.section--team-bg {
  background-color: var(--third-bgc);
}

.team-section-list__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-list__item--margin:not(:last-child) {
  margin-right: 30px;
}

.team-cards--wrap {
  text-align: center;
  padding-top: 30px;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);
}

.team-card__name--margin {
  margin-bottom: 10px;
}

.team-card__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.socials {
  display: flex;
  margin: 16px 32px 30px 32px;
}

.socials__item--margin:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bgc);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__sm-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-sm-icon-fill);
  transition-property: fill;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.socials__link:hover .socials__sm-icon {
  fill: #fff;
}

.socials__link:focus .socials__sm-icon {
  fill: #fff;
}

/* ---------- index.html/Clients ----------*/

.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 150px) / 6);
}

.clients-list__item--margin {
  margin-right: 30px;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.clients-list__link {
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-list__link:hover .clients-list__icon {
  fill: currentColor;
}

.clienst-list__link:focus .clients-list__icon {
  fill: currentColor;
}

/* -----------portfolio.html ----------- */

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list-btn {
  padding: 6px 22px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  background-color: var(--third-bgc);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.all {
  padding: 6px 22px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  background-color: var(--btn-bgc-color);
  color: var(--third-text-color);
  border: 0;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  background-color: var(--btn-bgc-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.plbtns:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-list-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  display: flex;
  padding: 0 24px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--primary-cubic);
}

.portfolio-card__overlay--text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-text-color);
}

.portfolio-label {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list-link:hover .portfolio-card-overlay {
  transform: translateY(-100%);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.portfolio-label__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-label__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* ---------- Footer ---------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.footer__flex {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--third-text-color);
}

.footer-adress-list {
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-adress-list--margin {
  margin-top: 20px;
}

.footer-adress-list__item {
  line-height: 1.71;
}

.footer-adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__link {
  color: var(--third-text-color);
}

.footer-adress__contacts {
  color: #ffffff99;
  transition-property: color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.footer-adress__contacts:hover,
.footer-adress__contacts:focus {
  color: var(--third-text-color);
}

.footer-sm--wrap {
  margin-left: 70px;
}

.footer-sm__title,
.footer-form__email-sub--label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--third-text-color);
  text-transform: uppercase;
}

.footer-sm-list {
  display: flex;
}

.footer-sm-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-sm-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--primary-trans-duration);
  transition-timing-function: var(--primary-cubic);
}

.footer-sm__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-form {
  margin-left: auto;
}

.footer-sm-list__link:hover,
.footer-sm-list__link:focus {
  background-color: var(--accent-color);
}

.footer-form__email-sub {
  height: 50px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--third-text-color);
  padding-left: 16px;
}

.footer-form__email-sub--label {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-form__email-input::placeholder {
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: var(--primary-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn-position {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 12px;
}

.footer-form__btn-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}
/* ------------Модалка----------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-bgc);
  transition: transform var(--primary-trans-duration) var(--primary-cubic);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
  color: currentColor;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-bgc);
  top: 8px;
  right: 8px;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-btn:focus,
.modal__close-btn:hover {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-field__input {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border 250ms var(--primary-cubic);
}

.form-field__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms var(--primary-cubic);
}

.form-field__comment {
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  max-height: 120px;
  transition: border 250ms var(--primary-cubic);
}

.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy--wrap {
  margin-left: 12px;
}

.policy__link {
  color: var(--accent-color);
}

.policy__checkbox {
  appearance: none;
}

.policy__chekbox-label {
  display: flex;
  align-items: center;
}

.policy__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  margin-right: 8px;
}

.policy__checkbox:checked + .policy__checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/svg/icon-check.svg);
  border-color: transparent;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.form-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
